<div class="game">

  <div class="dim-bg"  *ngIf="cardsShown == true"></div>

  <div class="black-card-wrapper">
    <div class="black-card">
      <p class="black-card-text">Who you gonna call? ______ </p>
    </div>
  </div>

  <app-mycards [cardsShown]="cardsShown" [myName]="myName" [room]="room" [myCards]="myCards" [currentCardInFrontIndex]="currentCardInFrontIndex" [(selectedCards)]="selectedCards"></app-mycards>

  <div class="my-cards-button">
    <div class="img-wrapper">
      <img src="../../assets/arrow.png" alt="">
    </div>
    <h2 class="my-cards-label">My cards</h2>
  </div>

  <!-- <ng-template #forHost>
    <h2>I'm host!</h2>
  </ng-template> -->
  
</div>