<div class="game">

  <div class="dim-bg"  *ngIf="cardsShown == true"></div>

  <h2 class="you-are-czar" *ngIf="room && myName == room['czar']" >You are the Czar!</h2>
  <h2 class="you-are-czar" *ngIf="room && myName != room['czar']" >{{room['czar']}} is the Czar!</h2>
  <h2 class="helper">{{helperText}}</h2>

  <button class="test-btn" (click)="restartRound()">Restart round</button>
  <div class="black-card-wrapper">
    <div class="black-card">
      <p class="black-card-text" *ngIf="room && room.black">{{room.black.text}}</p>
    </div>
  </div>

  <app-mycards [cardsShown]="cardsShown" [myName]="myName" [room]="room" [myCards]="myCards" [currentCardInFrontIndex]="currentCardInFrontIndex" [(selectedCards)]="selectedCards"></app-mycards>

  <div class="my-cards-button">
    <div class="img-wrapper">
      <img src="../../assets/arrow.png" alt="">
    </div>
    <h2 class="my-cards-label">My cards</h2>
  </div>

  
</div>