@import '../../styles.scss';

$card-width: 65%;
$img-color: #2a2824;

.game {
    margin-top: 50px;
   
}

.confirm-popup {
    position: relative;
    display: none;
    z-index: 1000;
    // display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s;
    .popup-window {
        position: fixed;
        width: 90%;
        background-color: #e1e1e1;
        padding: 2rem 0;
        height: fit-content;
        margin: 0 auto;
        right: 0;left: 0;
        margin-top: 6rem;
        // justify-self: items;
        // width: 100px;
        // height: 100px;
        border-radius: 15px;
        box-shadow:  0px 0px 15px 20px rgba(0, 0, 0, 0.596);

        p {
            font-size: 1.4rem;
            text-align: center;
        }

        .buttons {
            margin: 0 auto;
            display: flex;
            button {
                margin: 0 auto;
                font-size: 1.5rem;
                background: none;
                padding: 0.5rem 0;
                width: 40%;
            }
        }
    }
}

.judging {
    position: absolute;
    display: flex !important;
    top: 40%;bottom: 0;left: 0;right: 0;
    // height: 100%;
    z-index: 400;
    flex-direction:row;
    // overflow-wrap: unset;
    overflow-x: scroll;
}

.helper {
    text-align: center;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    margin: 3.5rem auto 0 0;
    // margin-top: 5rem;
    color: $dark;
}

.you-are-czar {
    text-align: center;
    padding: 0 0.5rem;
    margin: auto 1rem;
    // margin-top: 5rem;
    color: $dark;
}

.show {
    display: block;
    opacity: 1 !important;
    transition: 0.2s;
}

.black-card-wrapper {
   
    width: $card-width;
    // padding-bottom: 75%;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
}

.black-card {
    background-color: $black-card;
    color: white;
    // width: 100%;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 0.1rem 0.5rem;
    padding-bottom: 150%;

    p {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 30px;

        color: #E8E8E8;
        padding: 0 0.5rem;
    }
    
}

.dim-bg {
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    bottom: 0;top: 0;right: 0;left: 0;
    // position: relative;
}

.white-card-wrapper {
    float: left;
    margin: 0rem 2rem 0 0rem;
   
}

.white-card-wrapper-judgement {
    float: left;
    margin: 0rem 1rem 0 0rem;
}

.offset {
    margin-top: -15rem !important;
    margin-left: 4rem !important;
    z-index: 1200 !important;
    p {
        z-index: 1200 !important;

    }
}

.offset2 {
    margin-top: -16rem !important;
    margin-left: 8rem !important;
    z-index: 1800 !important;
    p {
        z-index: 1800 !important;

    }
}

.white-card-judgement {
    width: 60vw;
    background-color: $light;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 0.1rem 1rem;
    padding-bottom: 100%;
    margin-top: 0.5rem;
    // position: absolute;
    position: relative;
    // margin-left: 50vw;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.479) !important;
    z-index: 500;

    p {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        word-wrap: break-word;
        color: black;
        width: inherit;
        z-index: 1;
    }

    .selector {
        position: absolute;
        bottom: -10px;right: -5px;
        width: 70px;
        height: 70px;
        border-radius: 70px;
        background-color: rgb(78, 78, 78);
        color: white;
        
        box-shadow: 
        inset 4px 4px 4px 0 rgba(105, 105, 105, 0.356),
        4px 4px 4px 0 rgba(0, 0, 0, 0.603);
        h3 {
            font-size: 60px;
            width: 100%;
            height: 100%;
            position: absolute;
            margin-left: 20px;
            margin-top: 1px;
        }
    }
}

.white-card {
    width: 50vw;
    background-color: $light;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 0.1rem 1rem;
    padding-bottom: 150%;
    position: relative;

    p {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        word-wrap: break-word;
        color: black;
        width: inherit;
    }

    .selector {
        position: absolute;
        bottom: -10px;right: -5px;
        width: 70px;
        height: 70px;
        border-radius: 70px;
        background-color: rgb(78, 78, 78);
        color: white;
        
        box-shadow: 
        inset 4px 4px 4px 0 rgba(105, 105, 105, 0.356),
        4px 4px 4px 0 rgba(0, 0, 0, 0.603);
        h3 {
            font-size: 60px;
            width: 100%;
            height: 100%;
            position: absolute;
            margin-left: 20px;
            margin-top: 1px;
        }
    }
    
}

.my-cards-button {
    margin: 0 auto;
    width: 100%;
    z-index: 800;
    position: absolute;
    bottom: 0;
    .img-wrapper {
        margin: 0 auto;
        img {
            display: flex;
            margin: 0 auto;
            width: 80px;
            // margin-top: 1rem;
        }
    }
    .my-cards-label {
        text-align: center;
        margin-top: 5px;
        font-size: 1.5rem;
        color: $img-color;
    }
}

.top {
    z-index: 500 !important;
    // background-color: #fff;
    .img-wrapper 
    {
        img {
        z-index: 500 !important;
        transform: rotate(180deg);
    }
    }
}

#mainCard {
    z-index: 1000;
}