<div class="game">

  <div class="dim-bg"  *ngIf="cardsShown == true"></div>

  <div class="black-card-wrapper">
    <div class="black-card">
      <p class="black-card-text">Who you gonna call? ______ </p>
    </div>
  </div>

  <!-- <div class="my-cards" *ngIf="cardsShown == true">

    <div class="white-card-wrapper-left" *ngIf="myCards[currentCardInFrontIndex-1] != null">
      <div class="white-card">
        <p class="white-card-text">{{myCards[currentCardInFrontIndex-1]}}</p>
      </div>
    </div>
    <div class="white-card-wrapper-right" *ngIf="myCards[currentCardInFrontIndex+1] != null">
      <div class="white-card">
        <p class="white-card-text">{{myCards[currentCardInFrontIndex+1]}}</p>
      </div>
    </div>
    <div class="white-card-wrapper" >
      <div class="white-card" id="mainCard">
        <p class="white-card-text">{{myCards[currentCardInFrontIndex]}}</p>
      </div>
    </div>
  </div> -->

  <app-mycards [cardsShown]="cardsShown" [myCards]="myCards" [currentCardInFrontIndex]="currentCardInFrontIndex"></app-mycards>

  <div class="my-cards-button">
    <div class="img-wrapper">
      <img src="../../assets/arrow.png" alt="">
    </div>
    <h2 class="my-cards-label">My cards</h2>
  </div>
  
</div>