<div class="game">
  

  <div class="background">
    <div class="card">
      <p class="enter-name">Enter your name</p>
      <br>
      <input type="" id="name">
      <h2>Join room <span>{{roomCodeString}}</span></h2>

      <table>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
          <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
          </tr>
          <tr>
            <td><</td>
            <td>0</td>
            <td>GO</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="or">OR</h2>

    <button class="create-new-game" (click)="createRoom()">Create game</button>
  </div>
  </div>
