@import '../../styles.scss';

$card-width: 65%;
$img-color: #2a2824;


.dim-bg {
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    // width: 100%;
    // height: 100%;
    // margin-top: -140px !important;
    bottom: 0;top: 0;right: 0;left: 0;
    z-index: 1;
}

.my-cards {
    position: absolute;
    margin-top: 0px;
    // background-color: rgba(0, 0, 0, 0.336);
    top: 0;bottom: 0;left: 0;right: 0;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    z-index: 4;
}

.white-card-wrapper-left {
   
    width: 50%;
    margin: 9rem 0 0 1rem;
    position: absolute;
}

.white-card-wrapper-right {
   
    width: 50%;
    margin: 9rem 1rem 0 0;
    right: 0;
    position: absolute;
}

.white-card-wrapper {
   
    width: $card-width;
    margin: 0 auto;
    margin-top: 7rem;
    position: relative;
}

.white-card {
    background-color: $light;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 0.1rem 0.5rem;
    padding-bottom: 150%;

    p {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 34px;

        color: black;
        padding: 0 0.5rem;
    }
    
}


.top {
    z-index: 500 !important;
    img {
        transform: rotate(180deg);
    }
}

#mainCard {
    z-index: 1000;
}