@import '../../styles.scss';

$card-width: 68vw;
$img-color: #2a2824;


.my-cards {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;bottom: 0;left: 0;right: 0;
    height: 100%;
    z-index: 4;
    flex-direction:row;
    // flex-wrap: nowrap;
    overflow-wrap: unset;
    overflow-x: scroll;
    // scroll-margin-right: 50px;
    
}


.pick-wrapper {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    // text-align: center;
}
.pick {
    margin: 3.3rem auto 0 auto;
    text-align: center;
    // width: 50%;
    color: white;
    background-color: #000;
    border-radius: 15px;
    padding: 0.2rem 1.5rem;
    box-shadow: 4px 4px 4px black;
    
    
}

.show {
    display: flex !important;
    opacity: 1 !important;
}

.white-card-wrapper {
    float: left;
    margin: 6.5rem -25px 0 14%;
   
}

.white-card {
    width: $card-width;
    background-color: $light;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 0.1rem 1rem;
    padding-bottom: 150%;
    position: relative;

    p {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        word-wrap: break-word;
        color: black;
        width: inherit;
    }

    .indicator {
        position: absolute;
        bottom: -20px;right: -10px;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        background-color: rgb(78, 78, 78);
        color: white;
        
        box-shadow: 
        inset 4px 4px 4px 0 rgba(105, 105, 105, 0.356),
        4px 4px 4px 0 rgba(0, 0, 0, 0.603);
        h3 {
            font-size: 60px;
            width: 100%;
            height: 100%;
            position: absolute;
            margin-left: 30px;
            margin-top: 11px;
        }
    }
    
}


.selected {
    background-color: rgb(62, 136, 47) !important;
    h3 {
        margin-left: 20px !important;
        margin-top: 6px !important;
    }
}

.selectedMultiple {
    background-color: rgb(62, 136, 47) !important;
    h3 {
        margin-left: 28px !important;
        margin-top: 10px !important;
    }
}

.top {
    z-index: 500 !important;
    img {
        transform: rotate(180deg);
    }
}

#mainCard {
    z-index: 1000;
}