/* You can add global styles to this file, and also import other style files */

$dark: #181818;
$light: #f9f9f9;
$bg: #dfdfdf;
$black-card: rgb(14, 14, 14);

body, html {
    // overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $bg;
    // max-width: 100vw;
}

button, h1,h2,h3,h4,h5,h6,p,li,td {
    font-family: "Roboto", sans-serif;
}

button {
    border: none;
    outline: none;
    color: $dark;
    background-color: none;
    box-shadow: 
    -4px -4px 8px rgba(255, 255, 255, 0.64), 
    4px 4px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 8px rgba(255, 255, 255, 0),
    inset 4px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.1s;
    &:active {
        box-shadow:
        -4px -4px 8px rgba(187, 175, 175, 0), 
        4px 4px 4px rgba(0, 0, 0, 0),
        inset -4px -4px 8px rgba(255, 255, 255, 0.64),
        inset 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        transition: 0.1s;
    }
}

td {
    border: none;
    outline: none;
    background-color: none;
    color: $dark;
    box-shadow: 
    -4px -4px 8px rgba(255, 255, 255, 0.64), 
    4px 4px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 8px rgba(255, 255, 255, 0),
    inset 4px 4px 4px rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    transition: 0.1s;
    &:active {
        box-shadow:
        -4px -4px 8px rgba(187, 175, 175, 0), 
        4px 4px 4px rgba(0, 0, 0, 0),
        inset -4px -4px 8px rgba(255, 255, 255, 0.64),
        inset 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        transition: 0.1s;
    }
}